span.
	Installeren: <a href="https://forum.tribalwars.nl/index.php?threads/sangu-package.206130/" target="_blank">zie de forum draad</a>
	<br><a href="https://chrome.google.com/webstore/detail/sangu-package/fhmbjphafbpdphffjihgekljkcchcdem?hl=en&gl=BE" target="_blank">Installeren via de Chrome Web Store</a>
