span.
	Installeren met <a href="http://forum.tribalwars.nl//showthread.php?t=33076" target="_blank">Opera</a><br>
	Installeren met <a href="http://forum.tribalwars.nl//showpost.php?p=689062&postcount=2" target="_blank">Firefox</a><br>
	Installeren met <a href="http://forum.tribalwars.nl//showpost.php?p=689085&postcount=3" target="_blank">Chrome</a> (Of via <a href="https://chrome.google.com/webstore/detail/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=nl" target=_blank>Tampermonkey</a>)
	<br><a href="https://chrome.google.com/webstore/detail/sangu-package/fhmbjphafbpdphffjihgekljkcchcdem?hl=en&gl=BE" target="_blank">Installeren via de Chrome Web Store</a>