AddHandler application/x-httpd-php5 js
AddHandler application/x-httpd-php53 js

RewriteEngine On
RewriteRule ^TWTactics\.exe$ ./send-ga-twtactics.php
RewriteRule ^TW-Simulator-KPHS\.rar$ ./send-ga-twsimulator.php