.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      .navbar-brand.navbar-brand-left
        a(href='/')
          img(src='favicon.png', style='margin-top: -5px; padding-right: 10px')

    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='sangu-package') Sangu Package
        li
          a(href='twtactics') TW Tactics
        li
          a(href='support') Support
        li
          a(href='about') About

      ul.nav.navbar-nav.navbar-right
        li#github-link.
          <iframe src="https://ghbtns.com/github-btn.html?user=SanguPackage&repo=TWTactics&type=watch&count=false&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>