.jumbotron
	.container
		p.pull-right.button-spacing-sp
			a.btn.btn-success.btn-lg.hidden-xs(href="../api/TWTactics.exe", style="margin-top: 5px")
				i(class="fa fa-3x fa-download", style="float: left")
				| &nbsp;Download<small><br>&nbsp;(for Windows)</small>

			a.btn.btn-success.visible-xs(href="../api/TWTactics.exe", style="margin-top: 5px")
				| &nbsp;Download<small><br>&nbsp;(for Windows)</small>


		h3.title TW Tactics <small>Your tactical advantage</small>
		.small-to-h2
			| Keep the global world overview. React swiftly to change.

		span [
		a.install-link(href="twtactics-install") Trouble installing?
		span ]&nbsp;&nbsp;[
		a.install-link(href="twtactics-linux") Installing on Mac or Linux?
		span ]