extends ../skeleton.jade

block content
	.container
		.row
			.col-md-6
				section
					h4 Wouter Van Schandevijl
					.small-to-h2 See <a href="https://www.linkedin.com/in/woutervanschandevijl">LinkedIn</a> for more about me :)
					div <img src="img/me.jpg" tag="Me" />

					h2 Sangu: The Tribe
					span.
						Things to cover:
						<ul>
							<li>The Sangu Wars (Credo, Apache, Temp, ...)
							<li>The Sangu <a href="http://forum.tribalwars.nl/showthread.php?46068-Info-van-dorpuitbouw-tot-scripts-tot-groepen-tot-verdediging">Strategy</a>: Small clusters and Spear/HC defense
							<li>The Sangu Meating(s): Activity, BBQ, T-shirts and drinks
						</ul>

						I'll probably add some Sangu folklore and stuff here later...

						<br><br>Oh yeah...
						<br><strong>Denkcell</strong>: Hoendroe (Micha)