extends ../skeleton.jade

block content
	.container
		.row
			.col-md-6
				include ../includes/itenium

				h2 Sangu: The Tribe
				div.
					Things to cover:
					<li>The Sangu Wars (Credo, Temp, ...)
					<li>The Sangu <a href="http://forum.tribalwars.nl/showthread.php?46068-Info-van-dorpuitbouw-tot-scripts-tot-groepen-tot-verdediging">Strategy</a>: Small clusters and Spear/HC defense
					<li>The Sangu Meæting(s): Activity, BBQ, T-shirts and drinks

					<br><br>I'll probably add some Sangu folklore and stuff here later...

					<br><br>Oh yeah...
					<br><strong>Denkcell</strong>: Hoendroe (Micha)