extends ../skeleton.jade

block content
	.container
		.row
			.col-md-6
				include ../includes/itenium

				h2 Sangu: The Tribe
				div
					div Things to cover:
					li The Sangu Wars
						ul
							li
								a(href="https://forum.tribalwars.nl/index.php?threads/sangu-vs-wereld-10.114395/") Sangu vs Wereld 10
							li
								a(href="https://forum.tribalwars.nl/index.php?threads/sangu-vs-credo.74518/") Sangu vs Credo
							li
								a(href="https://forum.tribalwars.nl/index.php?threads/sangu-vs-temp.103494/") Sangu vs Temp
							li
								a(href="https://forum.tribalwars.nl/index.php?threads/sangu-vs-apache.60646/") Sangu vs Apache
							li
								a(href="https://forum.tribalwars.nl/index.php?threads/r-i-p-vs-dispar.42282/") R.I.P. vs Dispar
					li.
						The Sangu <a href="http://forum.tribalwars.nl/showthread.php?46068-Info-van-dorpuitbouw-tot-scripts-tot-groepen-tot-verdediging">Strategy</a>: Small clusters and Spear/HC defense
					li The Sangu Meæting(s): Activity, BBQ, T-shirts and drinks

					br
					div I'll probably add some Sangu folklore and stuff here later...

					br
					div Oh yeah...
					div
						strong Denkcell
						span : Hoendroe (Micha)

				h2 Forum threads
				ul
					li
						a(href="https://forum.tribalwars.nl/index.php?threads/gm-algemeen-discussietopic-sangu-package.137674/") Sangu Package
					li
						a(href="https://forum.tribalwars.nl/index.php?threads/twtactics.177711/") TW Tactics
					li
						a(href="https://forum.tribalwars.nl/index.php?threads/gm-berichtenhernoemer.112767/") Berichtenhernoemer
					li
						a(href="https://forum.tribalwars.nl/index.php?threads/hoe-ontwikkel-je-een-tw-script.117006/") Hoe ontwikkel je een TW Script
