extends ../skeleton.jade

block content
	h2 Author: Wouter Van Schandevijl
	span Picture, about me, link to LinkedIn.

	h2 Sangu: The Tribe
	span.
		About the wars. Some pictures? Sangu Meating?

		Strategies used:
			- Heavy cav and spear: http://forum.tribalwars.nl/showthread.php?46068-Info-van-dorpuitbouw-tot-scripts-tot-groepen-tot-verdediging
			- Small clusters