extends ../skeleton.jade

block content
	.container
		.row
			.col-md-6
				h4 Beste TW’ers,

				div Vind je het ook zo vervelend, dat wanneer je een gevecht wilt simuleren, dat je dan constant moet klikken op ‘Overlevende troepen van de verdediger invoeren’ knop?
					| Of dat je op meerdere werelden speelt met verschillende instellingen en dat je steeds moet switchen van simulator?

				br
				div Daar is nu een oplossing voor:

				a.btn.btn-success.btn-lg(href="api/TW-Simulator-KPHS.rar", style="margin-top: 5px")
					i(class="fa fa-2x fa-download", style="float: left")
						| &nbsp;De TW Simulator+

				br
				br
				div Gebouwd om snel gevechten te simuleren in één keer. Per clear wordt er aangegeven wat de verliezen zijn.
					| Aan de hand van vinkjes kan je zo de instellingen bepalen. Dus voor alle werelden geschikt.

				br
				div Daarnaast berekend het bouwtijden van de eenheden, je kan je eigen defence opbouw invoeren en bepalen hoeveel dorpen je wilt gebruiken als stack.
					| Als het een boerderijlimiet wereld is, kan je invoeren op hoeveel procent de stack kracht moet komen, er wordt dan keurig aangegeven hoeveel dorpen je daarvoor nodig hebt. 

				br
				div Hoe te gebruiken?
					ul
						li Download het
						li Maak een nieuwe map ergens waar je wilt
						li Pak het uit met een programma als Winrar, Winzip of 7zip, in de map die je net gemaakt hebt
						li Maak een snelkoppeling van Project1.exe
						li Plaats de snelkoppeling ergens waar jij hem wilt.

			.col-md-6
				a(href="img/berno-simulator.png", target="_blank")
					img.img-thumbnail(src='img/berno-simulator-small.png')

		.row
			.col-md-6
				div <strong>- KPHS</strong>