extends ../skeleton.jade

block content
  .container
    .row
      .col-md-6
        h2 Sangu Package&nbsp;<small>(NL server only)</small>
        p Greasemonkey extension for Tribal Wars bullies
        p.
          <a class="btn btn-success btn-lg" href="api/sangupackage.user.js">Download</a>
          <a class="btn btn-default btn-lg" href="sangu-package">Learn more &raquo;</a>

        p.
          <div class="wrapper">
            <h1>Basic carousel</h1>

            <p>This example shows how to setup a basic carousel with prev/next controls and pagination.</p>

            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><img src="img/sp/index/maintagger.png" width="600" height="400" alt=""></li>
                        <li><img src="img/sp/index/overview-troops-own.png" width="600" height="400" alt=""></li>
                        <li><img src="img/sp/index/place-troops-back.png" width="600" height="400" alt=""></li>
                        <li><img src="img/sp/index/sangu-settings.png" width="600" height="400" alt=""></li>
                    </ul>
                </div>

                <p class="photo-credits">
                    Photos by <a href="http://www.mw-fotografie.de">Marc Wiegelmann</a>
                </p>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                <p class="jcarousel-pagination">

                </p>
            </div>
          </div>


        p
          img(src='img/sp/index/maintagger-thumb.png')


      .col-md-6
        h2 TW Tactics&nbsp;<small>(All servers)</small>
        p.
          Desktop app for TW Warlords: Explore your world, plan attacks, monitor your enemies&apos;
          progress and more

        p.
          <a class="btn btn-success btn-lg" href="api/twtactics1.zip">Download</a>
          <a class="btn btn-default btn-lg" href="#">Learn more &raquo;</a>

  hr

  .container
    .row
      .col-sm-6
        h2 Sangu: The Tribe
        img(src='img/sangu-tribe-logo.jpeg')

        p.
          Starting from its inception, Sangu was the dominating tribe
          on the <a href="http://nl.twstats.com/nl10/index.php?page=tribe&id=22147">classic NL10 server</a>.
          Never quite first in points but always at war with the tribe that was.
          Both the Sangu Package and TWTactics are tools used extensively
          and successfully by many Sangu players.

        p.
          <a class="btn btn-default" href="about">Learn more &raquo;</a>



      .col-sm-6
        h2 Contribute
        img(src='img/github.png', style='float:left;width:167px;height:167px; margin-right:10px;')
        p.
          The source code for both <a href="https://github.com/SanguPackage/Script">Sangu Package</a>
          and <a href="https://github.com/SanguPackage/TWTactics">TW Tactics</a> is available
          on <a href="https://github.com/SanguPackage">GitHub</a>.

        p.
          If you are new to JavaScript, some guidelines and information about how to start building a script
          for Tribal Wars can be found
            <a href="http://forum.tribalwars.nl/showthread.php?117006-Hoe-ontwikkel-je-een-TW-script">on the forum (Dutch)</a>

        p.
          <a class="btn btn-default" href="support">Learn more &raquo;</a>