extends ../skeleton.jade

mixin carouselImg(img, text, height)
  li
    .text-muted!= text
    a.popup-thumbnail(href='#', data-img='img/sp/index/'+img+'.png')
      img(src='img/sp/index/'+img+'-thumb.png', width='400', height=height)


block content
  .container
    .row
      .col-md-6
        section
          h2 Sangu Package&nbsp;<small>(NL server only)</small>
          .small-to-h2.small.text-muted Huidige versie: 8.33.1

          p Het gekende en geliefde package :)

          #sp-jcarousel-wrapper
            .jcarousel
              ul
                +carouselImg('maintagger', "Taggers die naadloos samensmelten in de bestaande pagina's", 122)
                +carouselImg('overview-troops-own', 'Saaie troepen overzichtspagina -&gt; kapabele aanvalsplanner', 122)
                +carouselImg('header', 'Ton van kleine gadgets', 70)
                +carouselImg('sangu-settings', 'Ongeveer alles is instelbaar!', 122)

            a.jcarousel-control-prev(href="#") &lsaquo;
            a.jcarousel-control-next(href="#") &rsaquo;

          .clearfix
            .pull-right.
              <a class="btn btn-success btn-lg" href="api/sangupackage.user.js">Downloaden</a>
              <a class="btn btn-default btn-lg" href="sangu-package">Tutorials &raquo;</a>


      .col-md-6
        section
          h2 TW Tactics&nbsp;<small>(All servers)</small>
          p.
            Desktop app for TW Warlords: Explore your world, plan attacks, monitor your enemies&apos;
            progress and more

          p.
            <a class="btn btn-success btn-lg" href="api/twtactics1.zip">Download</a>
            <a class="btn btn-default btn-lg" href="#">Learn more &raquo;</a>

  hr

  .container
    .row
      .col-sm-6
        section
          include ../includes/index/tribe-sangu

      .col-sm-6
        section
          include ../includes/index/contribute