extends ../skeleton.jade

mixin carouselImg(img, text, height)
  li
    .text-muted!= text
    a.popup-thumbnail(href='#sp-jcarousel-popup')
      img(src='img/sp/index/'+img+'-thumb.png', width='400', height=height, data-img='img/sp/index/'+img+'.png')


block content
  .container
    .row
      .col-md-6
        section
          h2 Sangu Package&nbsp;<small>(NL server only)</small>
          .small-to-h2.small.text-muted Huidige versie: 8.33.1

          p Het gekende en geliefde package :)

          #sp-jcarousel-popup
            img

          #sp-jcarousel-wrapper
            a.jcarousel-control-prev.fix-bootstrap-link(href="#") &lsaquo;
            a.jcarousel-control-next.fix-bootstrap-link(href="#") &rsaquo;
            .jcarousel
              ul
                +carouselImg('maintagger', "Taggers die naadloos samensmelten in de bestaande pagina's", 122)
                +carouselImg('overview-troops-own', 'Saaie troepen overzichtspagina -&gt; kapabele aanvalsplanner', 122)
                +carouselImg('header', 'Ton van kleine gadgets', 70)
                +carouselImg('sangu-settings', 'Ongeveer alles is instelbaar!', 122)

          .clearfix
            .pull-right.button-spacing
              a.btn.btn-default(target="_blank", href="https://chrome.google.com/webstore/detail/sangu-package/fhmbjphafbpdphffjihgekljkcchcdem?hl=en&gl=BE")
                img(src="img/ChromeWebStore.png", width="32", height="34")

              a.btn.btn-success.btn-lg(href="api/sangupackage.user.js") Downloaden
              a.btn.btn-default.btn-lg(href="sangu-package") Tutorials &raquo;


      .col-md-6
        section
          h2 TW Tactics&nbsp;<small>(All servers)</small>
          p.
            Desktop app for TW Warlords: Explore your world, plan attacks, monitor your enemies&apos;
            progress and more

          p.
            <a class="btn btn-success btn-lg" href="api/twtactics1.zip">Download</a>
            <a class="btn btn-default btn-lg" href="#">Learn more &raquo;</a>


  hr

  .container
    .row
      .col-sm-6
        section
          include ../includes/index/tribe-sangu

      .col-sm-6
        section
          include ../includes/index/contribute