extends ../skeleton.jade

block content
  .container
    .row
      .col-md-6
        h2 Sangu Package&nbsp;<small>(NL server only)</small>
        p Greasemonkey extension for Tribal Wars bullies
        p.
          <div class="sp-jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li><img src="img/sp/index/maintagger-thumb.png" width="400" height="122" alt=""></li>
                    <li><img src="img/sp/index/overview-troops-own-thumb.png" width="400" height="122" alt=""></li>
                    <li><img src="img/sp/index/header-thumb.png" width="400" height="122" alt=""></li>
                    <li><img src="img/sp/index/sangu-settings-thumb.png" width="400" height="122" alt=""></li>
                </ul>
            </div>

            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
          </div>

        .pull-right.
          <a class="btn btn-success btn-lg" href="api/sangupackage.user.js">Download</a>
          <a class="btn btn-default btn-lg" href="sangu-package">Learn more &raquo;</a>


      .col-md-6
        h2 TW Tactics&nbsp;<small>(All servers)</small>
        p.
          Desktop app for TW Warlords: Explore your world, plan attacks, monitor your enemies&apos;
          progress and more

        p.
          <a class="btn btn-success btn-lg" href="api/twtactics1.zip">Download</a>
          <a class="btn btn-default btn-lg" href="#">Learn more &raquo;</a>

  hr

  .container
    .row
      .col-sm-6
        include ./index/tribe-sangu

      .col-sm-6
        include ./index/contribute