extends ../skeleton.jade

block content
  .row
    .col-md-6
      h2
        | Sangu Package
        small (NL server only)
      p Greasemonkey extension for Tribal Wars bullies
      p
        a.btn.btn-success.btn-lg(href='api/sangupackage.user.js') Download
        a.btn.btn-default.btn-lg(href='sangu-package', role='button') Learn more &raquo;
    .col-md-6
      h2
        | TW Tactics
        small (All servers)
      p
        | Desktop app for TW Warlords: Explore your world, plan attacks, monitor your enemies&apos; progress and more
      p
        a.btn.btn-success.btn-lg(href='api/twtactics1.zip') Download
        a.btn.btn-default.btn-lg(href='#', role='button') Learn more &raquo;

  hr

  .row
    .col-md-6
      img(src='img/sangu-tribe-logo.jpeg')
      h2 Sangu: The Tribe
      p
        | Starting from its inception, Sangu was the dominating tribe
        | on the
        a(href='http://nl.twstats.com/nl10/index.php?page=tribe&id=22147') classic NL10 server
        | .
        |           Never quite first in points but always at war with the tribe that was.
        |           Both the Sangu Package and TWTactics are tools used extensively
        |           and successfully by many Sangu players.
      p
        a.btn.btn-default(href='about', role='button') Learn more &raquo;

    .col-md-6
      img(src='img/github.png')
      h2 Contribute
      p
        | The source code for both
        a(href='https://github.com/SanguPackage/Script') Sangu Package
        |             and
        a(href='https://github.com/SanguPackage/TWTactics') TW Tactics
        |  is available
        |             on
        a(href='https://github.com/SanguPackage') GitHub
        | .
      p
        | If you are new to JavaScript, some guidelines and information about how to start building a script
        | for Tribal Wars can be found
        a(href='http://forum.tribalwars.nl/showthread.php?117006-Hoe-ontwikkel-je-een-TW-script') on the forum (Dutch)
        | .
      p
        a.btn.btn-default(href='support', role='button') Learn more &raquo;