extends ../skeleton.jade

block content
  .container
    .row
      .col-md-6
        section
          h2 TW Tactics&nbsp;<small>(All servers)</small>
          p.
            Desktop app for TW Warlords: Explore your world, plan attacks, monitor your enemies&apos;
            progress and more

          p.
            <a class="btn btn-success btn-lg" href="api/twtactics1.zip">Download</a>
            <a class="btn btn-default btn-lg" href="#">Learn more &raquo;</a>

      .col-md-6.visible-xs.visible-sm
        hr

      .col-md-6
        section
          h2 Sangu Package&nbsp;<small>(NL server only)</small>
          .small-to-h2.small.text-muted Laatste update: 15 maart 2015 (8.33.1)

          #sp-dutch-only.alert.alert-danger Unfortunately the Sangu Package is only legal on TW.nl!<br><span class="text-muted small">And the remaining Sangu Package content is therefore in Dutch...</span>

          .pull-right
            a#sp-install.btn.btn-default.btn-xs Hoe installeren?

          p Het gekende en geliefde package :)

          include ../includes/index/sangu-package-install-instructions

          include ../includes/index/sangu-package-carousel

          .clearfix
            .pull-right.button-spacing
              include ../includes/index/sangu-package-buttons


  .container
    hr

  .container
    .row
      .col-md-6
        section
          include ../includes/index/tribe-sangu

      .col-md-6.visible-xs.visible-sm
        hr

      .col-md-6
        section
          include ../includes/index/contribute

block scripts
  script(src='js/index/sp.js')
  script(src='js/index/sp-carousel.js')

block css
  link(rel='stylesheet', href='css/index/sangu-package.css')
  link(rel='stylesheet', href='css/index/sangu-package-carousel.css')