extends ../skeleton.jade

block content
  .container
    .row
      .col-md-6
        section
          h2 Sangu Package&nbsp;<small>(NL server only)</small>
          .small-to-h2.small.text-muted Laatste update: 15 maart 2015 (8.33.1)

          .pull-right
            a.btn.btn-default.btn-xs(data-ot="Installatie instructies voor de verschillende browsers") Hoe installeren?

          p Het gekende en geliefde package :)

          #sp-installation-popup
            Installeren met <a href="http://forum.tribalwars.nl//showthread.php?t=33076" target="_blank">Opera</a><br>
            Installeren met <a href="http://forum.tribalwars.nl//showpost.php?p=689062&postcount=2" target="_blank">Firefox</a><br>
            Installeren met <a href="http://forum.tribalwars.nl//showpost.php?p=689085&postcount=3" target="_blank">Chrome</a> (Of via <a href="https://chrome.google.com/webstore/detail/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=nl" target=_blank>Tampermonkey</a>)
            <br><a href="https://chrome.google.com/webstore/detail/sangu-package/fhmbjphafbpdphffjihgekljkcchcdem?hl=en&gl=BE" target="_blank">Installeren via de Google Chrome Web Store</a>

          include ../includes/index/sangu-package-carousel

          .clearfix
            .pull-right.button-spacing
              a.btn.btn-default(target="_blank", data-ot="Installeren via de Google Web Store!", href="https://chrome.google.com/webstore/detail/sangu-package/fhmbjphafbpdphffjihgekljkcchcdem?hl=en&gl=BE")
                img(src="img/ChromeWebStore.png", width="32", height="34")

              a.btn.btn-success.btn-lg(href="api/sangupackage.user.js") Downloaden
              a.btn.btn-default.btn-lg(href="sangu-package") Tutorials &raquo;


      .col-md-6
        section
          h2 TW Tactics&nbsp;<small>(All servers)</small>
          p.
            Desktop app for TW Warlords: Explore your world, plan attacks, monitor your enemies&apos;
            progress and more

          p.
            <a class="btn btn-success btn-lg" href="api/twtactics1.zip">Download</a>
            <a class="btn btn-default btn-lg" href="#">Learn more &raquo;</a>


  hr

  .container
    .row
      .col-sm-6
        section
          include ../includes/index/tribe-sangu

      .col-sm-6
        section
          include ../includes/index/contribute

block scripts
  script(src='js/index/sp-carousel.js')

block css
  link(rel='stylesheet', href='css/index/sangu-package.css')
  link(rel='stylesheet', href='css/index/sangu-package-carousel.css')