extends ../skeleton.jade

block content
	h3 Germans
	span Adding support for die-staemme.de is probably allowed. See <a href="support">Contributing</a>

	h3 Non Dutch Languages
	span Unfortunately the Sangu Package is not legal on your TW Server.


	h2 Sangu Package

	span.
		Het Sangu Package is een Greasemonkey script (voor Opera, Firefox en Chrome) dat beweert het spelen van TW sneller, vlotter en efficiënter te laten verlopen en dat, zoals de naam al doet vermoeden, een verzameling is van scripts die de bestaande TW pagina's gaan uitbreiden met vooral extra berekeningen (afstanden, tijden, stacks) en sorteer, groepeer- en filtermogelijkheden. Het Sangu Package is gericht naar grote spelers (50+ dorpen) en is ook meer actief op PA pagina's.

		Sangu speelt op een klassieke wereld maar het package is voor alle werelden geconfigureerd en houdt rekening met loopsnelheden, nachtbonus, maximum edelafstand, fake limiet etc.