extends ../skeleton.jade

block content
	.jumbotron
		.container
			#sp-dutch-only.alert.alert-success.
				The Sangu Package is a Greasemonkey script which is allowed only on NL and DE servers!
				<br>
				<strong>Germans</strong>: Adding support for die-staemme.de is probably allowed! See <a href="support">Contributing</a>



			p.pull-right.button-spacing-sp.hidden-xs
				a.btn.btn-default(target="_blank", data-ot="Installeren via de Chrome Web Store!", href="https://chrome.google.com/webstore/detail/sangu-package/fhmbjphafbpdphffjihgekljkcchcdem?hl=en&gl=BE")
					img(src="img/ChromeWebStore_Badge.png", width="206", height="58")

				a.btn.btn-success.btn-lg(href="api/sangupackage.user.js")
					i(class="fa fa-3x fa-download", style="float: left")
					| &nbsp;Downloaden<small><br>&nbsp;(Firefox, Opera)</small>



			h3.title Sangu Package <small>Minder kliks, meer actie!</small>
			.small-to-h2.small.text-muted
				| Laatste update: #{releaseDate} (v#{version})
				img.browsers-supported(src="img/sp/browsers-supported.png", data-ot="Chrome, Firefox en Opera zijn ondersteund!")

			.visible-xs [
				a.install-link(href="#installation") Hoe installeren?
				span ]&nbsp;&nbsp;[
				a.install-link(href="https://chrome.google.com/webstore/detail/sangu-package/fhmbjphafbpdphffjihgekljkcchcdem?hl=en&gl=BE") Chrome Web Store
				span ]&nbsp;&nbsp;[
				a.install-link(href="api/sangupackage.user.js") Downloaden
				span ]

			.hidden-xs
				a.install-link(href="#installation") Hoe installeren?







	.container
		#jumbotron-subtitle.row
			.well.well-sm.
				<strong>Een verzameling van kleine <small>en minder kleine...</small> scripts om
				het spelen van Tribal Wars aangenamer en sneller
				te laten verlopen</strong>

		#features.row
			.col-md-4
				.well.well-lg
					img(src="img/sp/rich-in-features.png", tag='Het Sangu Package... Voor veel win :)')
					h3.rich-in-features-img-text Verrijkt ongeveer elke TW pagina

			.col-md-4
				.well.well-lg
					img(src='img/sp/auto-world-settings.png')
					h3 Kent jouw wereld instellingen


			.col-md-4
				.well.well-lg
					img(src='img/sp/big-accounts.png', tag='Dorpen yum yum!!')
					h3 Gemaakt voor grote accounts en PA



		.row
			.col-md-8.why-use-sp
				.row
					.col-sm-6
						ul.list-group
							+whyUseItem('users', 'Zie op elke pagina welke van je vrienden online zijn.', true)
							+whyUseItem('magic', 'Nieuwe bevelen worden automatisch hernoemd naar de verstuurde eenheden.', true)
							+whyUseItem('hotel', 'Maakt van de ingame TW taggers beesten die je massas helpen overleven.', true)
							+whyUseItem('calculator', 'Berekent afstanden, tijden en stacks zodat jij het niet hoeft te doen!', false)

					.col-sm-6
						ul.list-group
							+whyUseItem('wrench', "Configureer het package naar jouw smaak via de nieuwe instellingen pagina's.", true)
							+whyUseItem('search', 'Vindt je aanvalsdorpen en laat de loopafstand tot je vijanden berekenen.', true)
							+whyUseItem('filter', 'Gebruik de filters en vindt vreemde ondersteuning, overstacks en verloren gelopen edels.', false)



			.col-md-4
				.row
					.col-sm-12
						ul.list-group
							li.list-group-item
								h3.group-title Hoe gebruik ik het?
							li.list-group-item
								div Mogelijks verschijnen hier ooit tutorial(s) voor het Sangu Package...

		.row
			.col-md-4
				a(name="installation")
				ul.list-group
					li.list-group-item
						h3.group-title Hoe installeren?
					li.list-group-item
						include ../includes/sangu-package/install-instructions
					
					

			.col-md-4
				ul.list-group
					li.list-group-item
						h3.group-title Berichtenhernoemer
					li.list-group-item
						div De berichtenhernoemer wordt niet meer door Sangu ondersteund maar het script wordt wel nog door veel spelers actief gebruikt.
						| <br>
						| Ook deze broncode is beschikbaar op <a target="_blank" href="https://github.com/SanguPackage/berichtenhernoemer">GitHub</a>.
						| <br><br>
						.pull-right
							a(href="http://forum.tribalwars.nl/showthread.php?112767-GM-Berichtenhernoemer", target="_blank") Meer informatie
							| &nbsp;
							a.btn.btn-success.btn-sm(href="api/berichtenhernoemer.user.js") Downloaden
						span <br><br>

			.col-md-4
				ul.list-group
					li.list-group-item
						h3.group-title KPHS TW Simulator+
					li.list-group-item
						div <strong>Een betere aanvalssimulator</strong>
						| Laat deze desktop app snel uitrekenen hoe je een stacked dorp het snelst veegt.
						| <br>
						| <br>
						| Ontwikkelaar: <strong>KPHS</strong> (Sangu's: Edgile)
						| <br><br>
						.pull-right
							a(href="twsimulator") Meer informatie
							| &nbsp;
							a.btn.btn-success.btn-sm(href="api/TW-Simulator-KPHS.rar") Downloaden
						span <br><br>

mixin whyUseItem(fa, text, fat)
	li.list-group-item
		i(class="fa fa-3x fa-" + fa)
		if fat
			span <strong>#{text}</strong>
		else
			span #{text}




block scripts
	script(src='js/sp.js')

block css
	link(rel='stylesheet', href='css/sangu-package.css')

