extends ../skeleton.jade

block content
	include ../includes/twtactics-jumbotron

	.container
		.row
			.alert.alert-success(style="margin-top: -25px; margin-bottom: 5px; padding-top: -5px; padding-bottom: -10px")
				div Current version: v1.4 (Updated 28 October 2024)
				div
					small v1.4: Updated urls to new sangu.be hosting

		.row
			.col-md-6
				ul.list-group
					li.list-group-item
						h3.group-title-with-subtitle Attack &amp; Defense
						.small-to-h2.text-muted <strong>If you are unsure why you would want to use TW Tactics, this is it...</strong>

					li.list-group-item
						.embed-responsive.embed-responsive-4by3.
							<iframe width="420" height="315" src="https://www.youtube.com/embed/Yds4cc-BgO4" frameborder="0" allowfullscreen></iframe>

			.col-md-6
				ul.list-group
					li.list-group-item
						h3.group-title-with-subtitle Basic Tutorial
						.small-to-h2.text-muted Learn the basics of TW Tactics

					li.list-group-item
						.embed-responsive.embed-responsive-4by3.
							<iframe width="420" height="315" src="https://www.youtube.com/embed/LMJUEE3RyEQ" frameborder="0" allowfullscreen></iframe>

		.row
			.col-md-6
				ul.list-group
					li.list-group-item
						h3.group-title-with-subtitle Monitoring
						.small-to-h2.text-muted Who is very active near me? Who is not? Who has gone barbarian? You want to know,
							| and TW Tactics can tell you!

					li.list-group-item
						.embed-responsive.embed-responsive-4by3.
							<iframe width="420" height="315" src="https://www.youtube.com/embed/KFvp3a6H69Y" frameborder="0" allowfullscreen></iframe>

			.col-md-6
				ul.list-group
					li.list-group-item
						h3.group-title-with-subtitle Synchronize
						.small-to-h2.text-muted <strong>How to import your village groups (and churches, ...) into TW Tactics
							| to make the attack planner even more powerful...</strong>

					li.list-group-item
						.embed-responsive.embed-responsive-4by3.
							<iframe width="420" height="315" src="https://www.youtube.com/embed/5YsNt5GPuW8" frameborder="0" allowfullscreen></iframe>

block css
	link(rel='stylesheet', href='css/twtactics.css')
