h2 Contribute
img(src='img/github.png', style='float:left;width:167px;height:167px; margin-right:10px;')
p.
	The source code for both <a href="https://github.com/SanguPackage/Script">Sangu Package</a>
	and <a href="https://github.com/SanguPackage/TWTactics">TW Tactics</a> is available
	on <a href="https://github.com/SanguPackage">GitHub</a>.

p.
	If you are new to JavaScript, some guidelines and information about how to start building a script
	for Tribal Wars can be found
	<a href="http://forum.tribalwars.nl/showthread.php?117006-Hoe-ontwikkel-je-een-TW-script">on the forum (Dutch)</a>

p.
	<a class="btn btn-default" href="support">Learn more &raquo;</a>