mixin carouselImg(img, text, height)
	li
		.text-muted!= text
		a.popup-thumbnail(href='#sp-jcarousel-popup')
			img(src='img/sp/index/'+img+'-thumb.png', width='400', height=height, data-img='img/sp/index/'+img+'.png')



#sp-jcarousel-popup
	img

#sp-jcarousel-wrapper
	a.jcarousel-control-prev.fix-bootstrap-link(href="#") &lsaquo;
	a.jcarousel-control-next.fix-bootstrap-link(href="#") &rsaquo;

	#sp-jcarousel.jcarousel
		ul
			+carouselImg('maintagger', "Taggers die naadloos samensmelten in de bestaande pagina's", 122)
			+carouselImg('overview-troops-own', 'Saaie troepen overzichtspagina <i class="fa fa-long-arrow-right"></i> capabele aanvalsplanner', 122)
			+carouselImg('header', 'Tonnen kleine gadgets', 70)
			+carouselImg('sangu-settings', 'Ongeveer alles is instelbaar!', 122)