a.btn.btn-default(target="_blank", data-ot="Installeren via de Chrome Web Store!", href="https://chrome.google.com/webstore/detail/sangu-package/fhmbjphafbpdphffjihgekljkcchcdem?hl=en&gl=BE")
	img(src="img/ChromeWebStore.png", width="32", height="34")

a.btn.btn-success.btn-lg.hidden-xs(href="../api/sangupackage.user.js") Downloaden
a.btn.btn-default.btn-lg(href="sangu-package") Ontdek meer &raquo;