h2 Sangu: The Tribe
img(src='img/sangu-tribe-logo.jpeg')

p.
 Starting from its inception, Sangu was the dominating tribe
 on the <a href="http://nl.twstats.com/nl10/index.php?page=tribe&id=22147">classic NL10 server</a>.
 Never quite first in points but always at war with the tribe that was.
 Both the Sangu Package and TWTactics are tools used extensively
 and successfully by many Sangu players.

p.
 <a class="btn btn-default" href="about">Learn more &raquo;</a>