body {
	padding-bottom: 15px;
}

/* Fix for Bootstrap <a> meddling */
.fix-bootstrap-link,
.fix-bootstrap-link:hover,
.fix-bootstrap-link:link,
.fix-bootstrap-link:active,
.fix-bootstrap-link:visited {
    color: #fff;
    text-decoration: none;
}

.small-to-h2 {
    margin-top: -10px;
}

section {
    width: 420px;
}

.button-spacing a {
    margin-left: 7px;
    height: 48px;
}
