body {
	padding-bottom: 15px;
}

/** Index page: sangu package carousel **/

.small-to-h2 {
    margin-top: -12px;
}

section {
    width: 420px;
}

.button-spacing a {
    margin-left: 7px;
    height: 48px;
}

#sp-jcarousel-wrapper {
    width: 420px;
    margin: 20px auto;
    position: relative;
}

.jcarousel {
    overflow: hidden;
    position: relative;
    width: 420px;
    height: 160px;
    background: #fff;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    cursor: pointer;
    float: left;
}

.jcarousel li img {
    display: block;
    border: 5px solid #fff;
}

.jcarousel li.active img {
    border-color: #ccc;
}

/** Navigation carousel controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    display: block;
    position: absolute;
    top: 60px;
    width: 30px;
    height: 30px;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -15px;
    text-indent: 6px;
}

.jcarousel-control-next {
    right: -15px;
    text-indent: 20px;

}

.jcarousel-control-prev,
.jcarousel-control-prev:hover,
.jcarousel-control-prev:link,
.jcarousel-control-prev:active,
.jcarousel-control-prev:visited,

.jcarousel-control-next,
.jcarousel-control-next:hover,
.jcarousel-control-next:link,
.jcarousel-control-next:active,
.jcarousel-control-next:visited {
    color: #fff;
    text-decoration: none;
}

.jcarousel-control-prev.jcarousel-inactive,
.jcarousel-control-next.jcarousel-inactive {
    opacity: .5;
    cursor: default;
}