body {
	padding-bottom: 15px;
}

/* Fix for Bootstrap <a> meddling */
.fix-bootstrap-link,
.fix-bootstrap-link:hover,
.fix-bootstrap-link:link,
.fix-bootstrap-link:active,
.fix-bootstrap-link:visited {
    color: #fff;
    text-decoration: none;
}

/** Index page: sangu package carousel **/

.small-to-h2 {
    margin-top: -12px;
}

section {
    width: 420px;
}

.button-spacing a {
    margin-left: 7px;
    height: 48px;
}

/* Sangu Package carousel: popup with fullscreen img */

#sp-jcarousel-popup {
    display: none;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#sp-jcarousel-popup img {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    position: absolute;

    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

.sp-jcarousel-popup-close {
    float: right;
    margin-top: -30px;
    margin-right: -30px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    padding-top: 14px;
}

/* Sangu Package Carousel */

#sp-jcarousel-wrapper {
    width: 420px;
    margin: 20px auto;
    position: relative;
}

.jcarousel {
    overflow: hidden;
    position: relative;
    width: 420px;
    height: 160px;
    background: #fff;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    cursor: pointer;
    float: left;
}

.jcarousel li img {
    display: block;
    border: 5px solid #fff;
}

.jcarousel li.active img {
    border-color: #ccc;
}

/** Navigation carousel controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    display: block;
    position: absolute;
    top: 60px;
    width: 30px;
    height: 30px;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -15px;
    text-indent: 6px;
}

.jcarousel-control-next {
    right: -15px;
    text-indent: 20px;

}

.jcarousel-control-prev.jcarousel-inactive,
.jcarousel-control-next.jcarousel-inactive {
    opacity: .5;
    cursor: default;
}