.navbar {
	margin-bottom: 0;
}

.jumbotron {
	padding: 0px 0px 0px;
	border-bottom: 1px solid #A1A1A1;
}

#sp-dutch-only {
	display: none;
	padding: 8px;
	margin-top: 15px;
}


.browsers-supported {
	padding-left: 10px;
}

.button-spacing-sp a {
	margin-left: 7px;
	margin-top: 5px;
	height: 65px;
}

/* SP Features */

#features .well {
	height: 160px;
	vertical-align: middle;
	text-align: center;
}

#features img {
	float: left;
	margin-left: -17px;
}

.rich-in-features-img-text {
	margin-top: 10px;
}

.install-link {
	font-size: 14px;
}

.group-title {
	margin: 0px;
}

.why-use-sp i {
	float: left;
	padding-right: 10px;
	color: #BDC6C8;
}

.why-use-sp li {
	min-height: 70px;
}

.title {
	font-size: 38px;
}

.title small {
	font-size: 20px;
}